URxvt.font: xft:Hack:size=16
URxvt.letterSpace: -1
URxvt.background: black
URxvt.foreground: white
URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0
URxvt.scrollBar: 0
URxvt.perl-ext: default,clipboard,url-select,resize-font
URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true
URxvt.resize-font.step: 2
URxvt.iso14755: false
URxvt.iso14755_52: false

Sxiv.background: #333333
Sxiv.foreground: #999999
Sxiv.font: Hack-13
